---
Checks: 'clang-analyzer-*,
	concurrency-*,
	cppcoreguidelines-*,
	-cppcoreguidelines-non-private-member-variables-in-classes,
	-cppcoreguidelines-special-member-functions,
	-cppcoreguidelines-avoid-magic-numbers,
	misc-*,
	-misc-non-private-member-variables-in-classes,
	modernize-*,
	-modernize-use-trailing-return-type,
	performance-*,
	portability-*,
	readability-*,
	-readability-identifier-length,
	-readability-uppercase-literal-suffix 
	-readability-magic-numbers,
	-readability-uppercase-literal-suffix,
	-google-default-arguments,
	'
...
